<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731869483548-hqom495rul5vieg4vk2klv7p1vfupbmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731869483548-hqom495rul5vieg4vk2klv7p1vfupbmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMdp2ee7m4NVk8NlqiGmvFc8mgddOoScE</string>
	<key>GCM_SENDER_ID</key>
	<string>731869483548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dogangunes.gezGorPaylas</string>
	<key>PROJECT_ID</key>
	<string>gezgorpaylas-5fdc2</string>
	<key>STORAGE_BUCKET</key>
	<string>gezgorpaylas-5fdc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731869483548:ios:04e090cfc9ce20f12b85d9</string>
</dict>
</plist>